/*!*
 * IUF Demo: Typo
 * -----------------------------------------------------------------------------
 * A description of IUF component; Typo.
 *
 * @author: Syaiful Shah Zinan (i.works@live.com)
 * @link: https://github.com/syaifulsz/my-css-components
 * @since: 1.0.0
 */

@import '../node_modules/@syaifulsz/iuf-demo-core/src/variables';

body {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 14px;
}

@each $key, $value in $theme-colors {

    .text-#{$key} {
        font-weight: bold;
        color: $value;
    }
}
